# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [ ]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [ ]:
import requests
import bs4
from bs4 import BeautifulSoup

In [ ]:
## YOUR CODE HERE

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- **Make sure these functions are robust and can handle cases where the data/field may not be available.**
    - Remember to check if a field is empty or `None` for attempting to call methods on it
    - Remember to use `try/except` if you anticipate errors
- **Test** the functions on the results above and simple examples

In [ ]:
## YOUR CODE HERE

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

#### Complete the following code to collect results from multiple cities and starting points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [ ]:
YOUR_CITY = ''

In [ ]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 100 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', YOUR_CITY]):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        # Append to the full set of results
        pass

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [ ]:
## YOUR CODE HERE

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [ ]:
## YOUR CODE HERE

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [ ]:
## YOUR CODE HERE

### Save your results as a CSV

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [1]:
import pandas as pd

df = pd.read_csv('assets/indeed-scraped-job-postings.csv')
df.shape

(413, 6)

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't have to choice the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [2]:
df['parsed_salary'].describe()

/Users/chris/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count       406.000000
mean     107762.695813
std       48931.367632
min       10000.000000
25%                NaN
50%                NaN
75%                NaN
max      300000.000000
Name: parsed_salary, dtype: float64

In [3]:
hi_low = lambda x: 0 if x <= df['parsed_salary'].mean() else 1
df['high_salary'] = df['parsed_salary'].apply(hi_low)


#TODO: (As Time Allows) create bins for the salary, then a dictionary to lookup the salary grade based on the bin.

#### Thought experiment: What is the baseline accuracy for this model?

Using the mean, as I did above, the baseline accuracy is approximately 0.5.  If the median is used the baseline accuracy should be exactly 0.5.  The skew of the data will push the baseline accuracy away from 0.5.  On further research, the mean is slightly higher than the median, so the baseline accuracy slightly lower than 0.5.  (Actual value = 189/406 = 0.46).  Also, this number is skewed because of NaNs in the data.

I'll revise the high salary column to be based on the median. (see Below).  The value is 0.49. It is better but not perfect.

In [51]:
df['city'].dropna()

0             Denver
1             Denver
2             Denver
3             Denver
4             Denver
5             Denver
6             Denver
7             Denver
8             Denver
9             Denver
10            Denver
11            Denver
12            Denver
13            Denver
14            Denver
15            Denver
16            Denver
17            Austin
18            Austin
19            Austin
20            Austin
21            Austin
22            Austin
23            Austin
24           Seattle
25           Seattle
26           Seattle
27           Seattle
28           Seattle
29           Seattle
           ...
383    San+Francisco
384    San+Francisco
385    San+Francisco
386    San+Francisco
387    San+Francisco
388    San+Francisco
389    San+Francisco
390    San+Francisco
391    San+Francisco
392    San+Francisco
393    San+Francisco
394          Atlanta
395          Atlanta
396          Atlanta
397          Atlanta
398          Atlanta
399          Atlanta
400          Atlanta
401          Atlanta
402          Atlanta
403          Atlanta
404          Atlanta
405          Atlanta
406          Atlanta
407          Atlanta
408          Atlanta
409          Atlanta
410          Atlanta
411          Atlanta
412          Atlanta
Name: city, dtype: object

In [12]:
hi_low = lambda x: 0 if x <= df['parsed_salary'].median() else 1
df['high_salary'] = df['parsed_salary'].apply(hi_low)

In [55]:
df.groupby('high_salary').count()

             city  company  salary  summary  title  parsed_salary
high_salary
0             208      208     208      208    208            208
1             205      205     205      205    205            198

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [31]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
from patsy import dmatrices
import numpy as np

y, X = dmatrices('high_salary ~ C(city)', df, return_type = 'dataframe')

#y = np.asarray(df[['high_salary']])
#X = np.asarray(df[['city']])
logit = sm.Logit(y, X)
logit.fit().params

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.587074
         Iterations: 35

/Users/chris/anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

Intercept                   -1.321756
C(city)[T.Austin]            1.034074
C(city)[T.Boston]            2.079442
C(city)[T.Chicago]           1.658228
C(city)[T.Dallas]            0.628609
C(city)[T.Denver]           -0.218689
C(city)[T.Houston]         -22.830605
C(city)[T.Los+Angeles]       1.488810
C(city)[T.Miami]            -0.287682
C(city)[T.New+York]          1.028408
C(city)[T.Palo+Alto]         2.186753
C(city)[T.Philadelphia]      1.881372
C(city)[T.Phoenix]         -24.087468
C(city)[T.Pittsburgh]      -22.830605
C(city)[T.Portland]        -15.402817
C(city)[T.San+Diego]         0.916291
C(city)[T.San+Francisco]     2.682732
C(city)[T.Seattle]           1.522427
dtype: float64

Using statsmodels, the Logit model did not converge.  Perhaps sklearn with give a different result.  If so, I made an error while implementing the model.

In [61]:
city_dummy_df.columns

Index([u'company', u'salary', u'summary', u'title', u'parsed_salary',
       u'high_salary', u'city_Atlanta', u'city_Austin', u'city_Boston',
       u'city_Chicago', u'city_Dallas', u'city_Denver', u'city_Houston',
       u'city_Los+Angeles', u'city_Miami', u'city_New+York', u'city_Palo+Alto',
       u'city_Philadelphia', u'city_Phoenix', u'city_Pittsburgh',
       u'city_Portland', u'city_San+Diego', u'city_San+Francisco',
       u'city_Seattle'],
      dtype='object')

In [1]:

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['city'])

y = le.transform(df['city'])
X = df['high_salary'].reshape(-1,1)

# sklearn output
model = LogisticRegression()
model.fit(X,y)
model.coef_

city_dummy_df = pd.get_dummies(data = df, columns=['city'])

X = city_dummy_df[['city_Atlanta', 'city_Austin', 'city_Boston',
       'city_Chicago', 'city_Dallas', 'city_Denver', 'city_Houston',
       'city_Los+Angeles', 'city_Miami', 'city_New+York', 'city_Palo+Alto',
       'city_Philadelphia', 'city_Phoenix', 'city_Pittsburgh',
       'city_Portland', 'city_San+Diego', 'city_San+Francisco',
       'city_Seattle']]
model2 = LogisticRegression()
model2.fit(X,y)
model2.coef_

NameError: name 'df' is not defined

array([ 5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        1,  1,  1,  1,  1,  1,  1, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17,
       17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 13, 13, 13,
       13, 13, 13, 13, 13, 13,  8,  8,  8,  8,  8,  8,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7, 12, 12, 12, 12, 12, 12,  6,  6,  6,  6,  6,
        6,  6,  6,  6, 14, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16,
       16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16,
       16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16,
       16, 16, 16,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0])

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [ ]:
## YOUR CODE HERE

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [ ]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [ ]:
## YOUR CODE HERE

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [ ]:
## YOUR CODE HERE

In [ ]:
## YOUR CODE HERE

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [ ]:
## YOUR CODE HERE

In [ ]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

In [ ]:
## YOUR CODE HERE